.logo-play{
    margin: auto 13px;
    color: #0070D1 ;
}

#iniciar-sessao{
    border-radius: 20px;
   text-shadow: none;
    background-color: #363636;;
   color: white;
   margin-right: 20px;
    
}