<img src="..//..//../assets/primeira foto.png" width="100%" height="500px">



<div class="embed-responsive embed-responsive-16by9">
    <iframe id="play-video" class="embed-responsive-item" width="560" height="315"
        src="https://www.youtube.com/embed/4yuEnY9ItqA" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>


<button type="button" id="texto-abaixo-video" class="btn btn-primary">Encontre as referências escondidas</button>

<div class="container-full">
    <h2>Procure as referências</h2>

    <p class="primeiro-texto">Você encontrou todas as referências a jogos de PlayStation no <br> nosso anúncio mais
        recente? Assista agora e veja quantas <br> consegue encontrar.</p>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..//..//../assets/segunda foto.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <iframe width="100%" height="440" src="https://www.youtube.com/embed/NTunTURbyUU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe width="100%" height="440" src="https://www.youtube.com/embed/55PRv_e00wc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3> Encontre todos os easter eggs!</h3>

                <p class="segundo-texto">Divirta-se procurando os easter eggs. Você vai encontrar <br> mais de 30
                    segredos escondidos neste vídeo. Tente <br> encontrar um para ganhar um código que dá direito a um
                    <br> avatar exclusivo. Te desafiamos a encontrar todos!
                </p>
                <button type="button" id="botao-lado-video" class="btn btn-primary">Começe a buscar</button>
            </div>

            <div class="col-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="segundo-video" width="560" height="315"
                        src="https://www.youtube.com/embed/IlprwbkMCuY" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>



    </div>