.container-full{
    background-color: #00439C;
    color: white;
    }

    .primeira-logo-ps{
        margin-top: 70px;
        margin-left: 200px;
    }

    .col-2{
        margin-top: 50px;
       
    }
    #texto-rodape{
        margin-left: 200px;
    }

    .segunda-logo-ps{
        margin-top: 30px;
        margin-left: 200px;
    }