<div class="container-full">
    <div class="row">
        <div class="col-4">
            <img class="primeira-logo-ps" src="..//..//../assets/logo-ps-rodape.png">
        </div>
        <div class="col-2" id="texto-rodape">
            <p>Suporte</p>
            <p>Política de privacidade</p>
            <p> Termos de serviço</p>
            <p> PlayStation Studios</p>
            <p>Termos de serviço</p>
            <p>Sobre a SIE</p>
            <p>PlayStation e o meio ambiente</p>
        </div>
        <div class="col-2">
            <p>Termos de serviçoe contrato do usuário</p>
            <p> Política de cancelamento da PS ™Store</p>
            <p> Avisos sobre saúde</p>
            <p> Classificacao</p>
            <p> Carreiras</p>
            <p>Desenvolvedores</p>
            <p> Mapa do Site</p>
        </div>
        <div class="col-2">
            <p>Facebook</p>
            <p> Twitter</p>
            <p> YouTube</p>
            <p> Instagram</p>
            <p> Twitch</p>
        </div>
        <div class="col-8">
            <img class="segunda-logo-ps" src="..//..//../assets/segunda-logo-ps-rodape.png">
        </div>
    </div>
</div>